@font-face {
  font-family: 'iconfont';
  src: url('../fonts/login/iconfont.eot');
  /* IE9*/
  src: url('../fonts/login/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/login/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/login/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/login/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
  font-family: "sans-serif", "MicroSoft YaHei";
}
html body {
  height: 100%;
  min-width: 710px;
  min-height: 640px;
  font-family: "sans-serif", "MicroSoft YaHei";
}
#main {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #ECEDF1;
  float: left;
}
#main > .container-fluid {
  margin-left: 110px;
  padding: 0;
}
#main > .container-fluid .nav-header-border {
  background-color: #FCFCFC;
  border-bottom: 1px solid #B0B1B5;
  overflow: hidden;
}
.nav-header {
  clear: both;
  height: 110px;
  margin: 0 30px;
  padding: 0;
  border: none;
  background-color: #FCFCFC;
  list-style: none;
  float: right;
  position: relative;
}
.nav-header:before {
  content: '';
  width: 110px;
  height: 110px;
  display: inline-block;
  background: url('../images/brand_logo.png') no-repeat right center;
  background-size: 40px;
  position: absolute;
  left: -100px;
  top: 0;
}
.nav-header > li {
  font-weight: normal;
  font-size: 16px;
  color: #929292;
  text-align: center;
  width: 180px;
  white-space: nowrap;
  margin: 35px 0;
  padding: 10px 20px;
  float: left;
  cursor: default;
}
.nav-header > li > a {
  display: block;
  width: 100%;
  height: inherit;
  text-decoration: none;
  color: inherit;
}
.nav-header > li > a:hover {
  color: #3a3a3a;
  cursor: pointer;
}
.nav-header > li#change-password {
  border-left: 1px dashed #929292;
  border-right: 1px dashed #929292;
  background: url('../images/changePSD.png') no-repeat 30px center;
}
.nav-header > li#logout {
  background: url('../images/loginout.png') no-repeat 30px center;
}
#aside-left {
  width: 110px;
  margin-left: -100%;
  float: left;
  background-color: #2F3A4C;
}
#aside-left > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#aside-left > ul li {
  width: 110px;
  height: 110px;
  line-height: 160px;
  color: #aaa;
  position: relative;
}
#aside-left > ul li > a {
  display: block;
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: inherit;
}
#aside-left > ul li + li:after {
  content: '';
  width: 110px;
  height: 2px;
  background: linear-gradient(#020211, #637186);
  background: -webkit-linear-gradient(#020211, #637186);
  background: -moz-linear-gradient(#020211, #637186);
  background: -ms-gradient(#020211, #637186);
  background: -o-gradient(#020211, #637186);
  position: absolute;
  bottom: 0;
  left: 0;
}
#aside-left > ul li + li {
  height: 105px;
}
#aside-left > ul li + li:hover {
  cursor: pointer;
  background-color: #263143;
}
#aside-left > ul li + li.active {
  background-color: #1f2a3b;
}
#aside-left > ul li.logo {
  background: #D94038 url('../images/logo.png') no-repeat center;
}
#aside-left #maintenance {
  background-image: url('../images/bell.png');
  background-repeat: no-repeat;
  background-position: center 30% ;
  background-size: 40px;
}
#aside-left #msg {
  background-image: url('../images/email.png');
  background-repeat: no-repeat;
  background-position: center 30% ;
  background-size: 40px;
}
#aside-left #user {
  background-image: url('../images/user.png');
  background-repeat: no-repeat;
  background-position: center 30% ;
  background-size: 40px;
}
#paging {
  background-color: #fcfcfc;
}
#paging .pagination > li > a,
#paging .pagination > li > span {
  margin-left: 7px;
  color: #393939;
  background-color: #fff;
  border: 1px solid #ddd;
}
#paging .pagination > li > a:hover,
#paging .pagination > li > span:hover,
#paging .pagination > li > a:focus,
#paging .pagination > li > span:focus {
  color: #393939;
  background-color: #eee;
  border-color: #ddd;
}
#paging .pagination > .active > a,
#paging .pagination > .active > span,
#paging .pagination > .active > a:hover,
#paging .pagination > .active > span:hover,
#paging .pagination > .active > a:focus,
#paging .pagination > .active > span:focus {
  color: #fff;
  background-color: #D94239;
  border-color: #B21D13;
}
.modal-backdrop.in {
  filter: alpha(opacity=0);
  opacity: 0;
}
